html {
  background-color: #fff;
}

/*Большинство текста использует данные стили*/
.body {
  font-family:  Raleway, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #000;
  text-underline-offset: 4px;
}

/*============header==============*/

.header{
  font-size: 18px;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr min-content 1fr;
  padding: 92px 50px 95px;
}

.nav__list-header {
  display: flex;
  gap: 31px;
  list-style-position: inside;
}

.nav__item {
  list-style: none;
}

.nav__item-link{
  text-decoration: none;
}

.nav__item-decor {
  list-style: circle;
  padding-left: 2px;
}

.header__logo {
  width: 148px;
  height: 105px;
  margin-left: 10px;
}

.contacts__list {
  list-style: none;
  line-height: 135%;
}

.contacts__list-header{
  max-width: 240px;
  justify-self: end;
}

/*============cover==============*/

.cover{
  position: relative;
  z-index: -2;
  padding: 165px 50px 50px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-transform: uppercase;
  color: #fff;
}

.overlay{
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: rgba(0,0,0,0.6);
}

.cover__title {
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 0.3em;
}

.accent__span {
  display: block;
}

.text-center {
  text-align: center;
  padding-top: 20px;
  padding-left: 30px;
}

.text-right {
  text-align: right;
  padding-top: 20px;
  margin-right: -30px;
}

.description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 106px;
  font-size: 22px;
}

.description__text {
  line-height: 127%; 
}

.long__word-spacing{
  word-spacing: 19px;
}

.short__word-spacing{
  word-spacing: 18px;
}

.bet__button {
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 32px;
  background: none;
}

/*============lots==============*/

.lots{
  padding: 180px 24px 120px;
}

.lots__subtitle{
  padding: 13px 0 39px 40px;
}

.subtitle{
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  list-style: none;
}

.lots__card{
  width: 334px;
  min-height: 596px;
  padding: 48px 40px;
  background-position: center;
  background-size: cover;
  z-index: -2;
  position: relative;
}

.card__background-film{
  background-image: url(../images/card-lot-01.jpg);
}

.card__background-book{
  background-image: url(../images/card-lot-02.jpg);
}

.card__background-pic{
  background-image: url(../images/card-lot-03.jpg);
}

.lots__card-link{
  height: 100%;
  text-decoration: none;
}

.lots__card-container{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
}

.card-title{
  font-weight: 700;
  font-size: 22px;
  line-height: 119%;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 2px;
}

.look-more-lots{
  display: block;
  padding: 30px 0 0 40px;
  text-underline-offset: 5px;
}

/*============about==============*/

.about{
  padding: 0 24px 180px;
  display: grid;
  gap: 25px;
  grid-template-columns: 334px 1fr;
}

.about__logo{
  width: 240px;
  height: 240px;
  background-color: #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  margin: 35px 0 0 47px;
}

.about__logo-image{
  height: 114px;
}

.about__subtitle{
  padding: 148px 0px 111px;
}

.about__text{
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.about__text-item{
  display: block;
}

/*============footer==============*/

.footer{
  font-size: 18px;
  padding: 0 50px 82px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.contacts__list-footer{
  max-width: 270px;
}

.nav__list-footer{
  display: flex;
  gap: 0;
  flex-direction: column;
  align-items: center;
  line-height: 120%;
}

.socials__list{
  display: flex;
  justify-content: end;
  gap: 48px;
}

.socials__item{
  list-style: none;
  max-width: 48px;
  max-height: 48px;
}

.socials__link{
  height: 100%;
}