/*Задал цвет фону для удобства*/
html{
  background-color: #929292;
}

/*Большинство текста использует данные стили*/
.body{
  font-family:  Raleway, sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 120%;
  color: #000;
}

/*============header==============*/

.header{
  font-size: 18px;
  padding: 92px 50px 95px;
  display: flex;
  align-items: center;
  background-color: #fff;
}

.nav__list-header{
  display: flex;
  gap: 31px;
  list-style-position: inside; /*Для corecting*/
}

.nav__item{
  list-style: none;
}

.nav__item-decor{
  list-style: circle;
}

/*Тут правлю миллимитровые отступы*/
.corecting{
  padding-left: 3px;
  margin-left: 3px;
}

.nav__item-active .nav__link{
  text-decoration: none;
}

.nav__link{
  text-underline-offset: 4px;
}

.header__logo{
  width: 148px;
  height: 105px;
  margin: 0 181px 0 41px;
}

.contacts__list{
  list-style: none;
  line-height: 135%;
}

.contacts__list-decor{
  text-underline-offset: 4px;
  text-decoration: underline;

}

.address{
  font-style: normal;
}

/*============cover==============*/



/*============lots==============*/



/*============about==============*/



/*============footer==============*/