/*Большинство текста использует данные стили*/
.body {
  color: #000;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  text-underline-offset: 4px;
}

/*============header==============*/

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 95px;
  font-size: 18px;
}

.nav__list-header {
  display: flex;
  gap: 32px;
  list-style-position: inside;
}

.nav__item {
  padding-left: 1px;
  list-style: circle;
}

.nav__item-no-decor {
  list-style: none;
}

.nav__item-active__link {
  text-decoration: none;
}

.header__logo {
  width: 148px;
  height: 105px;
  margin-left: 10px;
}

.contacts__list {
  line-height: 135%;
  list-style: none;
}

.contacts__list-header {
  justify-self: end;
  max-width: 240px;
}

/*============cover==============*/

.cover {
  position: relative;
  padding: 165px 50px 50px;
  color: #fff;
  text-transform: uppercase;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.full-steam-ahead {
  position: relative;
  z-index: 2;
}

.cover__title {
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 0.3em;
}

.accent__span {
  display: block;
}

.text-center {
  padding-top: 20px;
  padding-left: 30px;
  text-align: center;
}

.text-right {
  margin-right: -30px;
  padding-top: 20px;
  text-align: right;
}

.description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 106px;
  font-size: 22px;
}

.description__text {
  line-height: 127%;
  word-spacing: 19px;
}

.bet__button {
  border: 1px solid #fff;
  padding: 12px 32px;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  background: none;
}

/*============lots==============*/

.lots {
  padding: 180px 24px 120px;
}

.lots__subtitle {
  padding: 13px 0 39px 40px;
}

.subtitle {
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  list-style: none;
}

.lots__card {
  position: relative;
  width: 334px;
  min-height: 596px;
  padding: 48px 40px;
  background-position: center;
  background-size: cover;
}

.card__background-film {
  background-image: url(../images/card-lot-01.jpg);
}

.card__background-book {
  background-image: url(../images/card-lot-02.jpg);
}

.card__background-pic {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__card-link {
  height: 100%;
  text-decoration: none;
}

.lots__card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  color: #fff;
}

.card-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 119%;
  text-decoration: underline;
  text-underline-offset: 2px;
  text-transform: uppercase;
}

.look-more-lots {
  display: block;
  max-width: fit-content;
  margin: 30px 0 0 40px;
  text-underline-offset: 5px;
}

/*============about==============*/

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 25px;
  padding: 35px 24px 180px;
}

.about__logo {
  display: flex;
  align-items: center;
  width: 240px;
  height: 240px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  height: 114px;
}

.about__subtitle {
  margin: 114px 0 110px;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.about__text-item {
  display: block;
}

/*============footer==============*/

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 50px 82px;
  font-size: 18px;
}

.contacts__list-footer {
  max-width: 260px;
  line-height: 138%;
  letter-spacing: 0.1px;
}

.nav__list-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
  line-height: 123%;
}

.socials__list {
  display: flex;
  justify-content: end;
  gap: 48px;
}

.socials__item {
  max-width: 48px;
  max-height: 48px;
  list-style: none;
}

.socials__link {
  min-height: fit-content;
}
