/*Задал цвет фону для удобства*/
html {
  background-color: #929292;
}

/*Большинство текста использует данные стили*/
.body {
  font-family:  Raleway, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #000;
}

/*============header==============*/

.header{
  font-size: 18px;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr min-content 1fr;
  background-color: #fff;
  padding: 92px 50px 95px;
  text-underline-offset: 4px;
}

.nav__list-header {
  display: flex;
  gap: 31px;
  list-style-position: inside;
}

.nav__item {
  list-style: none;
}

.nav__item-decor {
  list-style: circle;
  padding-left: 2px;
}

.header__logo {
  width: 148px;
  height: 105px;
  margin-left: 10px;
}

.contacts__list {
  max-width: 240px;
  justify-self: end;
  list-style: none;
  line-height: 135%;
}

/*============cover==============*/



/*============lots==============*/



/*============about==============*/



/*============footer==============*/